.nav {
	float:right;
	margin:0 15px 0 0;
}

.nav ul {
	list-style-type:none;
}

#circle {
	border-radius:100%;
}

.nav li {
	display:inline-block;
	padding-right:2px;
}


body {
	font-family:arial, sans-serif;
}

.main {
	display:inline-block;
	margin:180px auto;
	width:250px;
}

/*.search {
	display:block;
	margin:auto;
}*/

a {
	text-decoration:none;

}